<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <env name="GAZEBO_MODEL_PATH" value="$(find igvc_bot)/models"/>

    <arg name="world" default="igvc_ramp.world" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find igvc_bot)/worlds/$(arg world)"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

</launch>
