<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="name"/>
    <arg name="type" default="igvc_bot"/>

    <!-- Spawn location for the ramp map -->
    <arg name="x" default="0.0"/>
    <arg name="y" default="-22.0"/>
    <arg name="z" default="0.1"/>

    <param name="robot_description" command="cat $(find igvc_bot)/urdf/$(arg type).urdf"/>

    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -x $(arg x) -y $(arg y) -z $(arg z) -model $(arg name) -param robot_description"/>


    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false"
          output="screen"/>

</launch>
