<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="robot_name"/>
    <arg name="x" default="0.0"/>
    <arg name="y" default="-22.0"/>
    <arg name="z" default="0.2"/>
    <arg name="lanes_mono" default="1"/>

    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -x $(arg x) -y $(arg y) -z $(arg z) -model $(arg robot_name) -param robot_description"/>

    <node name="base_to_ground_transform" pkg="tf2_ros" type="static_transform_publisher"
          args="0 0 -0.12 0 0 0 base_footprint ground"/>


    <node name="img_proc_left" pkg="image_proc" type="image_proc" ns="/camera/left" if="$(arg lanes_mono)"/>

    <node name="stereo_processor" ns="camera" pkg="stereo_image_proc" type="stereo_image_proc"
          unless="$(arg lanes_mono)"/>
</launch>
